@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: local(OpenSans),
       url(./../../media/fonts/OpenSans/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: local(FontAwesome),
       url(font-awesome/fonts/fontawesome-webfont.woff) format('woff');
}