@font-face {
	font-family: ChanceCyrillic;
	font-style: normal;
	font-weight: normal;
	src: local(ChanceCyrillic),
			 url(../fonts/ChanceCyrillic.woff) format('woff');
}

.greetings {
	position: relative;
	font-family: ChanceCyrillic;
	color: #64F8EC;
}

body:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
}